spacy
openai
pandas
nltk
scikit-learn
transformers
torch
pytesseract
pdf2image
streamlit
PyPDF2
python-doc
python-docx
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
